// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin price {
  .price, .amount {
    font-size: 14px;
    color: #999999;
  }
}

@mixin btn {
  padding: 8px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;

  &:hover, &:visited, &:active, &:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
  }
}

.btn-primary {
  @include btn;
  background-color: #408cff;
}

.btn-danger {
  @include btn;
  background-color: #CC3F33;
}

table {
  border-spacing: 0;

  thead tr {
    th {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      padding: 0 10px 8px;
    }
  }

  tbody.line-items {
    .line-item {
      @include price;

      td {
        padding: 0 10px 8px;
      }
      .title {
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        width: 20px;
        white-space: pre-wrap;
      }

      .quantity {
        display: flex;
        align-items: center;
        font-variant-numeric: tabular-nums;
      }

      @keyframes line-item-highlight {
        0% {
          background: #8f8;
        }
        100% {
          background: none;
        }
      }

      &.latest {
        animation: line-item-highlight 1s;
      }
    }
    .latest {
      animation: fade-yellow-item 0.8s linear 0s 3;
    }

    @keyframes fade-yellow-item {
      0% {
        background-color: #ffffff;
      }

      50% {
        background-color: #f1ff91;
      }

      100% {
        background-color: #ffffff;
      }
    }
  }
}

.total {
  margin-top: 20px;
  padding: 8px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;

  @include price;
}

.clear-btn {
  line-height: 31px;
}
