// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.destroy-btn {
  &:visited {
    color: #fff;
  }
  padding: 8px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  background-color: red;
}