<%# app/view/store/index.html.erb %>
<% if notice %>
	<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<ul class="catalog">
	<% cache @products do %>
		<% @products.each do |product| %>
			<% cache product do %>
				<%= render 'store/product', product: product, latest: false %>
			<% end %>
		<% end %>
	<% end %>
</ul>
